p Hi #{@estimate_request.name},
p We received your Estimate Request. App Dev Academy team will process it as soon as possible and will contact you.
p If there is any problem, you can contact us directly at hello@appdev.academy
p Best regards from App Dev Academy team!
