{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": "> 1%",
          "uglify": true
        },
        "useBuiltIns": true
      }
    ],
    "react"
  ],
  "plugins": [
    "babel-plugin-transform-decorators-legacy",
    "transform-class-properties",
    "syntax-dynamic-import",
    "transform-object-rest-spread"
  ]
}
