h3 = "New Estimate Request from #{@estimate_request.email} is available"
p = "Id: #{@estimate_request.id}"
p = "Name: #{@estimate_request.name}"
p = "Email: #{@estimate_request.email}"
p = "Company: #{@estimate_request.company}"
p = "Subject: #{@estimate_request.subject}"
p = "Budget: #{@estimate_request.budget}"
p = "Deadline: #{@estimate_request.deadline}"
p = "IOS App: #{@estimate_request.is_ios}"
p = "Android App: #{@estimate_request.is_android}"
p = "UI/UX Design: #{@estimate_request.is_design}"
p = "Backend API: #{@estimate_request.is_backend_api}"
p = "Admin Panel: #{@estimate_request.is_admin_panel}"
p = "Other: #{@estimate_request.is_other}"
p = "Details: #{@estimate_request.details}"
