h3 = "New Estimate Request from #{@estimate_request.email} is available"
p = "Id: #{@estimate_request.id}"
p = "Name: #{@estimate_request.name}"
p = "Email: #{@estimate_request.email}"
p = "Subject: #{@estimate_request.subject}"
p = "Details: #{@estimate_request.details}"
p = "Budget: #{@estimate_request.budget}"
