/* ----------------------------------------------------------------------------------------
Template: Beapp - Mobile App Development Agency HTML5 Template
Version: 1.0
Author: tempload - support@tempload.com
-----------------------------------------------------------------------------------------*/

/* ---------------------------------------------
Table of contents
------------------------------------------------
01. font & reset css
02. preloader
03. global styles
04. buttons
05. header
06. welcome area
07. home
08. blog
09. our work
10. aside
11. contact
12. footer
--------------------------------------------- */

@import 'bootstrap';

@import '_mixins';

@import '_theme-options';

@import '_reset';

@import '_loader';

@import '_global';

@import '_buttons';

@import '_header';

@import '_welcome';

@import '_home';

@import '_blog';

@import '_our-work';

@import '_aside';

@import '_contact';

@import '_footer';

// Custom CSS

@import 'magnific-popup';
@import 'font-awesome-sprockets';
@import 'font-awesome';

.ptop-50 {
  padding-top: 50px !important;
}

.pbottom-100 {
  padding-bottom: 100px !important;
}

.team-item {
  img {
    width: 75px;
  }
}

img.home-screenshot {
  width: 100%;
  max-width: 450px;
}

.text {
  img {
    width: 100%;
  }
}

// Code start
p {
  code {
    display: inline-block;
    background-color: #f0f0f0;
    border-radius: 2px;
    border: 1px solid #c0c0c0;
    padding: 0 5px;
    margin: 2px 0;
  }
}

.blog-post-thumb pre {
  $padding: 20px;
  $border-width: 1px;
  padding: $padding;
  margin: 20px 0;
  width: calc(100% - 2*#{$padding} - 2*#{$border-width});
  border: $border-width dashed #2f6fab;
  background-color: #f9f9f9;
  overflow-x: scroll;
  
  code {
    padding-right: 20px;
  }
}
// Code end

// Video start
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
// Video end
