@import '_reset';
@import '_variables';
@import '_mixins';

@import 'buttons';
@import 'containers';
@import 'forms';
@import 'cards';
@import 'image-gallery';
@import 'links';
@import 'menus';
@import 'tables';
@import 'tags';
@import 'text';
@import 'video';

// Share buttons
@import 'social-share-button';
@import 'social';

.hidden {
  display: none;
}

img {
  width: 100%;
}

img.profile-picture {
  width: 120px;
  height: 120px;
}

img.app-icon {
  width: 75px !important;
  height: 75px !important;
}

// Fix list styles after use reset.scss
.blog-article, .article-container {
  .video-wrapper, h1, h2, h3, h4, h5, h6, p, ul, ol, img {
    margin-bottom: 25px;
  }
}

.blog-article {
  ul, ol {
    padding-left: 20px;
  }
  
  ul li {
    list-style: disc;
  }
  
  ol li {
    list-style: decimal;
  }
}

b {
  font-weight: bold;
}
