@import 'social-share-button';
@import 'social';
// @import 'photoswipe';

.menu {
  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .menu {
    a {
      line-height: 44px;
      
      &:not(:first-child) {
        display: none;
      }
      
      &.hamburger {
        float: right;
        display: block;
      }
    }
    
    &.responsive {
      position: fixed;
      top: 0;
      left: 0;
      
      a {
        display: block;
        
        &.hamburger {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
  }
}
